<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.shapeapptech.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IBCustomFonts</key>
	<dict>
		<key>AvenirNextCondensed-Regular</key>
		<string>Gemina2</string>
		<key>HelveticaNeue</key>
		<string>Exo-Regular</string>
		<key>HelveticaNeue-Bold</key>
		<string>Exo-Bold</string>
		<key>HelveticaNeue-BoldItalic</key>
		<string>Exo-ExtraBold</string>
		<key>HelveticaNeue-Italic</key>
		<string>Exo-Regular-Italic</string>
		<key>HelveticaNeue-Light</key>
		<string>Exo-Light</string>
		<key>HelveticaNeue-LightItalic</key>
		<string>Exo-ExtraLight</string>
		<key>HelveticaNeue-Medium</key>
		<string>Exo-Medium</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Exo-Regular-Italic.ttf</string>
		<string>gemina2.ttf</string>
		<string>Exo-ExtraBold.ttf</string>
		<string>Exo-ExtraLight.ttf</string>
		<string>Exo-Medium.ttf</string>
		<string>Exo-Bold.ttf</string>
		<string>Exo-Light.ttf</string>
		<string>Exo-Regular.ttf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
